<h2>商品一覧</h2>
<p>（全件）</p>

<% @items.each do |item| %>
  <div>
    <%= link_to item_path(item.id) do %>
      <%= image_tag item, image, accept: "image/*" %>
    <% end %>
    <%= item.name %>
    <%= item.no_tax %>
  </div>
<% end %>