  <div class="search-form">
    <%= form_with url: search_path, local: true, method: :get, class: "search-container" do |f| %>
      <%= f.text_field :content, placeholder: "search", style: "border: none" %>
      <%= f.button :type => "submit", style: "border: none" do %>
        <i class='fa fa-search'></i>
      <% end %>
    <% end %>
  </div>
